$SERVER["socket"] == ":80" {
    $HTTP["host"] =~ "{{ _vhost.name }}" {
        server.name = "{{ _vhost.name }}" 
        server.errorlog = "{{ lighttpd['vhosts_dir'] }}/{{ _vhost.name }}/logs/error.log"
        accesslog.filename = "{{ lighttpd['vhosts_dir'] }}/{{ _vhost.name }}/logs/access.log"
        
        alias.url += ("/.well-known/" => "/var/www/lighttpd/.well-known/")

{% if _vhost.ssl_redirect | default(True) and _vhost.certificates %}
        url.redirect-code = 301
        url.redirect = ( "^/\.well-known/" => "", "^(.*)" => "https://%0$0" )
{% else  %}
    {%- if _vhost.proxy | default(False) %}
        $HTTP["url"] !~ "^/.well-known/" {
            proxy.server = ( "" =>
                    ((
                        "host" => "{{ _vhost.proxy.backend }}",
                        "port" => {{ _vhost.proxy.port }}
                    ))
            )
            setenv.add-request-header  = (
                "X-Forwarded-Proto" => "https",
                "X-Forwarded-Host" => "{{ _vhost.name}}",
                "X-Forwarded-Port" => "443"
            )
        }
    {% else %}
        server.document-root = "{{ lighttpd['vhosts_dir'] }}/{{ _vhost.name }}/{{ lighttpd['vhosts_htdocs'] }}/htdocs/"
    {% endif -%}
{% endif -%}
    }
}

{% if _vhost.certificates %}
# $HTTP["scheme"] == "https" {
$SERVER["socket"] == ":443" {
    $HTTP["host"] =~ "{{ _vhost.name }}" {
        # ssl.dh-file = "/etc/ssl/certs/dhparam.pem"
        ssl.pemfile = "/etc/letsencrypt/live/{{ _vhost.name }}/bundle.pem" # Combined Certificate
        ssl.ca-file = "/etc/letsencrypt/live/{{ _vhost.name }}/chain.pem" # Root CA
        server.name = "{{ _vhost.name }}" 
        server.errorlog = "{{ lighttpd['vhosts_dir'] }}/{{ _vhost.name }}/logs/error_ssl.log"
        accesslog.filename = "{{ lighttpd['vhosts_dir'] }}/{{ _vhost.name }}/logs/access_ssl.log"
        
        alias.url += ("/.well-known/" => "/var/www/lighttpd/.well-known/")

{%  if _vhost.proxy | default(False) %}
        $HTTP["url"] !~ "^/.well-known/" {
            proxy.server = ( "" =>
                    ((
                        "host" => "{{ _vhost.proxy.backend }}",
                        "port" => {{ _vhost.proxy.port }}
                    ))
            )
            setenv.add-request-header  = (
                "X-Forwarded-Proto" => "https",
                "X-Forwarded-Host" => "{{ _vhost.name}}",
                "X-Forwarded-Port" => "443"
            )
        }
{% else %}
        server.document-root = "{{ lighttpd['vhosts_dir'] }}/{{ _vhost.name }}/{{ lighttpd['vhosts_htdocs'] }}/htdocs/"
{% endif %}
    }
}
{% endif %}
